// Place all the styles related to the TvShows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.overview-img {
  img {
    width: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
  }
  // height: 60vh;
}
